body {
	background-color: #69A1FF;
	font-family: Verdana;
}

.verde {
	margin-top: 4%;
	background-color: #5bc0de;
	color: white;
	padding-top: 6%;
}

.verde h1{
	font-size: 3em;
}

.ingresaT {
	background-color: #A2C5FF;
	color: white;
	padding-top: 3%;
	padding-bottom: 2%;	
}

.ingresaT textarea {
	color: #516F9B;
	font-size: 15px;
	background-color: #CADDFC;
}

.contenedor {
	border: 1px solid black;
	margin: 0.5%;
	padding: 1%;
	background-color: #69A1FF;
}
 .contenedor span {
 	position: relative;
 	left: 2%;
 }

.glyphicon-trash {
	color: black;
	position: relative;
	left: 4%;
}

.tarea {
	position: relative;
	left: 5%;
}


.tachar {
	text-decoration: line-through;
	color: red;
	position: relative;
	left: 4%;
}

.footer {
	background-color: #5bc0de;
	padding: 5% 0;
}

.footer span {
	font-size: 15px;
	position: relative;
	left: 25%;
}